@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #7D9DAF #2b2b2b;
  }
  .root {
    @apply flex min-h-screen w-full flex-col lg:flex-row;
  }

  .root-container {
    @apply mt-16 flex-1 overflow-y-scroll py-8 lg:mt-0 lg:max-h-screen lg:py-10;
  }
}

@layer utilities {
  .container {
    @apply max-w-720p m-auto w-11/12 overflow-hidden;
  }
  .wrapper {
    @apply max-w-720p mx-auto px-5 md:px-10 w-full;
  }

  .header-nav_elements {
    @apply mt-8 flex w-full flex-col items-start gap-5;
  }

  .sidebar {
    @apply hidden h-screen w-80 p-5 shadow-md shadow-pri-200/50 lg:flex bg-pri-900/10;
  }

  .sidebar-nav {
    @apply h-full flex-col justify-between md:flex md:gap-4;
  }

  .sidebar-nav_elements {
    @apply hidden w-full flex-col items-start gap-2 md:flex;
  }

  .sidebar-nav_element {
    @apply w-full whitespace-nowrap rounded-full bg-cover transition-all hover:shadow-inner;
  }

  .sidebar-link {
    @apply flex items-center size-full gap-4 p-4;
  }

  .sheet-content button {
    @apply focus:ring-0 focus-visible:ring-transparent focus:ring-offset-0 focus-visible:ring-offset-0 focus-visible:outline-none focus-visible:border-none !important;
  }

  .input {
    @apply w-full bg-transparent disabled:bg-gray-700/40 disabled:cursor-not-allowed disabled:text-gray-300 placeholder:text-gray-300/30 placeholder:font-light rounded-xl border bg-opacity-40 border-gray-300/40 focus:bg-transparent focus:ring-2 focus:ring-pri-900 focus:border-primary text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out;
  }

  .label {
    @apply block text-sm font-medium leading-6 text-gray-100 ml-1;
  }
}
